services:
  gitlab:
    image: gitlab/gitlab-ee:18.3.5-ee.0
    container_name: gitlab
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '$EXTERNAL_URL'
        # --- Low-memory defaults (can be overridden in gitlab.rb) ---
        # Disable bundled monitoring stack
        prometheus['enable'] = false
        alertmanager['enable'] = false
        node_exporter['enable'] = false
        redis_exporter['enable'] = false
        postgres_exporter['enable'] = false
        gitlab_exporter['enable'] = false

        # Disable optional components
        mattermost['enable'] = false
        registry['enable'] = ${GITLAB_ENABLE_REGISTRY:-false}

        # Reduce app server / background jobs concurrency
        puma['worker_processes'] = ${GITLAB_PUMA_WORKERS:-0}
        puma['min_threads'] = ${GITLAB_PUMA_MIN_THREADS:-1}
        puma['max_threads'] = ${GITLAB_PUMA_MAX_THREADS:-2}
        sidekiq['concurrency'] = ${GITLAB_SIDEKIQ_CONCURRENCY:-5}

        # Keep SSH port in UI correct (optional)
        gitlab_rails['gitlab_shell_ssh_port'] = ${SSH_PORT:-22}
    ports:
      - '$HTTP_PORT:80'
      - '$HTTPS_PORT:443'
      - '$SSH_PORT:22'
    volumes:
      - '$GITLAB_HOME/config:/etc/gitlab'
      - '$GITLAB_HOME/logs:/var/log/gitlab'
      - '$GITLAB_HOME/data:/var/opt/gitlab'
    shm_size: '${GITLAB_SHM_SIZE:-64m}'
    # Container limits (docker-compose, non-swarm)
    mem_limit: '${GITLAB_MEM_LIMIT:-2048m}'
    cpus: '${GITLAB_CPUS:-2}'
